<div id="headerwrap">
<div class="blue-text text-darken-2"><h2>Now Available For Free!</h2></div>
<h1>Welcome to translookout</h1>
<h3>What can it do?</h3>
<h3>It can monitor the users message history. In particular, it can detect messages that has an adult content or forbidden words.</h3>
<%=image_tag "introduction.jpeg",width:"100%",height:"100%"%>
<div class="row">
  <div class="col s12"><h2 class="flow-text">Details</h2></div>
  <div class="col s6 push-s6"><span class="flow-text">As an example above, the message that has an adult content image, the image did not appear for it detected an adult content within the message.</span></div>
  <div class="col s6 pull-s6"><span class="flow-text">If adult content images or forbidden words are detected, it will appear null or ***</span></div>
</div>
  <div class="blue-text text-darken-2"><h2>Now Available For Free!</h2></div>
</div>
<h2>Support me with bitcoin</h2>
<p id="bitcoin_address" class="blue-text text-darken-2">17wMZgon7PhoSmSGPE3FiGfn1v7k8BxyJt</p>
<%unless current_user%>
<%= link_to user_facebook_omniauth_authorize_path,class:"btn-large btn-facebook" do%>
    <i class="fa fa-facebook-official fa-2x left" aria-hidden="true"></i>
    Sign in with Facebook
<%end%>
<%end%>