<table>
    <thead>
    <tr>
        <th>Plans</th>
        <th>transaction</th>
        <th>Prices per a month</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Small</td>
        <td>1000</td>
        <td>500 yen</td>
    </tr>
    <tr>
        <td>Medium</td>
        <td>2500</td>
        <td>1000 yen</td>
    </tr>
    <tr>
        <td>Large</td>
        <td>5000</td>
        <td>1500 yen</td>
    </tr>
    <tr>
      <td>Gold</td>
      <td>Infinite</td>
      <td>3000 yen</td>
    </tr>
    </tbody>
</table>