<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Translookout</h5>
        <p class="grey-text text-lighten-4">Thank you for using Translookout Api!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <p>Support me with bitcoin address:</p>
        <p id="bitcoin_address" class="blue-text text-darken-2">17wMZgon7PhoSmSGPE3FiGfn1v7k8BxyJt</p>
      </div>
    </div>
    <%=render "/layouts/share"%>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <%=image_tag "https://www.epay.com/en/templates/Epay.en/assets/images/img/suplogo02_03.png"%>
      © <%= Date.today.year %>  Translookout. Powered by TRANSGIFT LTD
      <a class="grey-text text-lighten-4 right" href="https://ryu-nishida.blogspot.jp/">Contact me</a>
    </div>
  </div>
</footer>