<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Translookout</h5>
        <p class="grey-text text-lighten-4">Thank you for using Translookout Api!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h4>Support me with bitcoin address:</h4>
        <h4 id="bitcoin_address" class="blue-text text-darken-2">17wMZgon7PhoSmSGPE3FiGfn1v7k8BxyJt</h4>
      </div>
    </div>
    <%=render "/layouts/share"%>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © <%= Date.today.year %>  Translookout. produced by Ryu Nishida
      <a class="grey-text text-lighten-4 right" href="https://ryu-nishida.blogspot.jp/">Contact me</a>
    </div>
  </div>
</footer>