<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.8&appId=1872781446312470";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<p><div class="fb-share-button" data-href="https://translookout.herokuapp.com/" data-layout="button_count" data-size="large" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fhttps://translookout.herokuapp.com/%2F&amp;src=sdkpreparse">Share</a></div></p>
<p><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://translookout.herokuapp.com/" data-text="Translookout is a convenient monitoring Api" data-size="large" data-hashtags="便利単語帳">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
<p><!-- head 内か、body 終了タグの直前に次のタグを貼り付けてください。 -->
  <script src="https://apis.google.com/js/platform.js" async defer>
      {lang: 'ja'}
  </script>

  <!-- 共有ボタン を表示したい位置に次のタグを貼り付けてください。 -->
<div class="g-plus" data-action="share" data-annotation="bubble" data-height="24" data-href="https://translookout.herokuapp.com/"></div></p>